/* 64em is also 1028px (if basefont is 16px) */
@media only screen and (min-width: 64rem) {

    header, footer {
        max-width: 100%;
        margin:auto;
    }

    nav, main {
        max-width: 900px;
        margin:auto;
    }

    header img{
        width: 250px;
    
    
    }

    header {
        font-size: 24px;
    }


/*----------- BODY --------------*/



/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/


/*----------- MAIN --------------*/

main p {
    padding-left: 15px;
    margin:auto;
    align-self: center;
    font-size: 24px;
}


/*----------- FOOTER --------------*/
    
} /* end of media query */