/* 64em is also 1028px (if basefont is 16px) */
@media only screen and (min-width: 64rem) {

    header, footer {
        max-width: 80%;
        margin:auto;
    }

    header .upper {
        font-size: larger;
    }

    nav, main {
        max-width: 80%;
    }


    
    .logo img{
        width: 150px;
    
    
    }

    .social {
        margin: 0;
    }
    .social img{
        width: 30px;
    }

    .time {width: 80%;}

    nav button {display: none;}

    nav ul{border-left: 1px solid rgba(0,0,0,0.2);}

    nav ul li a {font-size: 20px;border:none; border-right: 1px solid rgba(0,0,0,0.2);}


    .grid-container{
        font-size: 24px;
        grid-template-columns: 200px auto auto 200px;
    }

    .event {
        grid-column: 1;
        grid-row: 1 ;
        background-color: aliceblue;
        width: 100%;
        height: 100%;

    }

    .hero{
        grid-column: 2 / 4;
        grid-row: 1 / 3;
        background-color: aliceblue;
        width: 100%;
        height: 500px;
    }

    .hero h1{
        font-size: 4rem;
        margin-left: 5%;
    }


    .spotlight{
        grid-column:4;
        grid-row:1/4;
        background-color: aliceblue;
        width: 100%;
        height: 100%;
    }

    .spotlight-1{
        grid-row: 1;
        grid-column: 1;
    }

    .spotlight-2{
        grid-row: 2;
        grid-column: 1;
    }

    .spotlight-3{
        display: block;
        grid-row: 3;
        grid-column: 1;
        
    }

    .weather{
        grid-column:1;
        grid-row: 2;
        background-color: aliceblue;
        width: 100%;
        height: 100%;
    }

    .weather p{
        font-size: 14px;
    }

    .weather h1{
        margin-bottom: 2px;
    }

    #weather_icon{
        width: 50px;
        height: 50px;
    }

    #weather_icon1{
        width: 30%;
        padding: 5px;
    }
    #weather_icon2{
        width: 30%;
        padding: 5px;
    }

    #weather_icon3{
    width: 30%;
    padding: 5px;}

    .disclaimer{
        font-size: 10px;
    }

    .join-us{
        grid-column:1;
        grid-row: 3;
        background-color: aliceblue;
        width: 100%;
        height: 200px;
        height: 100%;
        
    }

    .join-us button{
        font-size: 15px;
    }

    .join-us p{
        font-size: 1rem;
        margin-top: 2rem;
    }

    .news-release{
        grid-column: 2 / 4;
        grid-row: 3;
        background-color: aliceblue;
        width: 100%;
        height: 200px;
    }
        
    .logo-footer img{
        width: 150px;


    }

    footer {
        font-size: 20px;
    }

    .color {
        filter: grayscale(100%);
        -webkit-filter: grayscale(100%);
        -webkit-transition: all 1s ease;
        transition: all;
        }
        
        .color:hover{
        filter: grayscale(0%);
        filter: gray;
        -webkit-filter: grayscale(0%);
        filter: none;
        transition: 1s ease;
        }

    .gallery {
        max-width: 60%;
    }

    .gallerytitle {
        font-size: 58px;
    }

    .containerform {
		display: grid;
		grid-template-columns: 3fr 2fr;
	}

    .contact-container{
        grid-template-columns: 1fr 1fr;
    }


/*-- FORM --*/
    .form_title{
        font-size: 40px;
    }

    form label.sbs{
        padding: .4rem 0;
    }

/*-- DIRECTORY--*/

.list section{
    width: 500px;
}

.grid section{
    height: 400px;
}

.list section p{
    font-size: small;
    text-align: center;
}

.list section h2{
    font-size: medium;
    text-align: center;
}

.hero .button{
 display: block;
}


}